<h3> Back to: <%=link_to("Teams", teams_path) %>
<%=link_to("Users", users_path) %> </h3>



<h2> <%= @user.username.capitalize %> - add new preference </h2>

<%=link_to("Back to My Preferences", user_preferences_path(@user)) %>


<br><br>

<%= form_for([@user, @preference]) do |f| %>

<label>Type:</label>
<%= f.select(:like_or_dislike, ["like", "dislike"]) %>
<br><br>
<label>Catgory:</label>
<%= f.collection_select :category_id, @categories, :id, :name %>
<br><br>
   <%= f.submit "Add preference" %>
 <% end %>
</div>
